{{#if this.showModalPop}}
  <div role="dialog" id="welcome-modal" class="custom-home-modal">
    <div class="modal-background">
      <div class="modal-pop">
        <div class="modal-title">
          <h1>{{theme-i18n "modal_data.title"}}</h1>
          <div class="progress-container">
              <ul class="progress-steps">
                  <li class="active">{{theme-i18n "progress_bar.label_1"}}</li>
                  <li>{{theme-i18n "progress_bar.label_2"}}</li>
                  <li>{{theme-i18n "progress_bar.label_3"}}</li>
                  <li>{{theme-i18n "progress_bar.label_4"}}</li>
          </ul>
        </div>

        </div>
        <div class="modal-content">          
          
          <div class="modal-steps">
            {{#if this.currentStep1}}
              <div id="step-1" class="step">
                  <h3>{{theme-i18n "steps_titles.step_1_title"}}</h3>
                  <p>Thanks for joining AlgoSec Community. We are so happy to have you here!</p>
                  <p>Here, you can discover solutions, ask questions, share ideas, and engage in discussions about best practices. 
                    Before you start exploring, please take a moment to read the 
                    <a href="/t/algosec-community-guidelines" target="_blank">AlgoSec Community Guidelines</a>.
                    This document contains important information to help you get started and ensure that you have the best experience.</p>
                  <p>If you have a question for the Community, use the search bar first. You may find that a similar question has already been answered. 
                    But if you can't find what you're looking for, feel free to ask a new question by clicking the                      
                    <DButton @class="btn-default" @translatedLabel="+ New Topic" @action={{action "openNewTopicLink"}}/>
                    button on the Community Home Page.</p>

                  <p>Enjoy,<br/>
                  AlgoSec Community <img class="as-ico-img" src={{theme-setting 'theme_uploads.img_ico_algosec_community'}} /></p>

                  <div class="next-button-wrapper">
                    <DButton @class={{theme-setting "button_style"}} @action={{(action "handleStep1NextButton")}} @translatedLabel="Agree & Continue" />
                  </div>
                  
              </div>
            {{/if}}

            {{#if this.currentStep2}}
            <div id="step-2" class="step">
              <h3>{{theme-i18n "steps_titles.step_2_title"}}</h3>
               
              
                <div class="change-personal-info-wrapper">
                  <div class="row-wrap-1">
                      <div class="col-wrap">
                        <div class="control-group user-name">
                              <label class="control-label">Your Username</label>
                              {{#if this.userNameEditing}}                  
                                
                                <form class="form-horizontal">
                                  <div class="row">
                                    <div class="col-username">
                                      
                                        <Input
                                          {{on "input" this.onUsernameInput}}
                                          @value={{this.newUsername}}
                                          maxlength={{this.maxUsernameLength}}
                                          class="input-xxlarge username-preference__input"
                                        />

                                        <div class="instructions" aria-live="polite">
                                          <p>
                                            {{#if this.userNameTaken}}
                                              Username already taken!
                                            {{/if}}
                                            <span>{{this.errorMessage}}</span>
                                          </p>
                                        </div>
                                      
                                    </div>
                                    <div class="col-username-controls">
                                      
                                        <DButton
                                          @action={{(action this.changeUsername)}}
                                          @type="submit"
                                          @disabled={{this.saveDisabled}}                          
                                          @translatedLabel="Save"
                                          class="btn-primary username-preference__submit"
                                        />

                                        <DModalCancel @close={{this.toggleUsernameEditing}} />

                                        {{#if this.saved}}Saved{{/if}}
                                      
                                    </div>
                                  </div>
                                </form>
                              {{else}}
                                
                                  <span class="static username-preference__current-username">{{this.currentUser.username}}</span>

                                  {{#if this.currentUser.can_edit_username}}
                                    <DButton
                                      @action={{(action "toggleUsernameEditing")}}
                                      @actionParam={{this.currentUser}}
                                      @icon="pencil-alt"
                                      @translatedTitle="Edit"
                                      @class="btn-default pad-right"
                                    />
                                  {{/if}}
                                

                                  {{#if this.siteSettings.enable_mentions}}
                                    <div class="instructions">
                                      People can mention you as @{{this.currentUser.username}}
                                    </div>
                                  {{/if}}
                              
                              {{/if}}
                          </div>
                      </div><!-- end col-wrap -->

                      <div class="col-wrap">
                          <div class="control-group pref-name">
                              <label class="control-label">Your Full Name <span class="instructions">(optional)</span></label>
                              <div class="controls">            
                                <TextField @value={{this.newNameInput}} @classNames="input-xlarge" @maxlength="255" />             
                              </div>                    
                          </div>
                      </div><!-- end col-wrap -->

                  </div><!-- end row-wrap -->

                  <div class="row-wrap-2">
                      <div class="col-wrap">
                          <div class="control-group pref-avatar">
                              <label class="control-label">Your Avatar</label>
                              <div aria-label={{this.currentUser.name}} class="avatar-img-wrapper">
                                <UserProfileAvatar @user={{this.currentUser}} />
                              </div>
                              <DButton
                                @class="btn-default pad-right"
                                @icon="pencil-alt"
                                @action={{(action "showAvatarSelector")}}
                                @actionParam={{this.currentUser}}
                                @translatedTitle="Change your Avatar"
                                @translatedLabel="" />
                          </div>
                      </div><!-- end col-wrap -->

                      <div class="col-wrap">
                          <div class="control-group pref-bio">
                              <label class="control-label">Your personal bio <span class="instructions">(Let us know something about you)</span></label>
                              <div class="controls bio-composer input-xxlarge">
                                <DEditor id='user-profile' @value={{this.newBioRawInput}} @loading={{this.composer.loading}} @change={{(action "biosUpdate")}} />
                              </div>
                          </div>
                      </div><!-- end col-wrap -->

                  </div><!-- end row-wrap -->
              </div>

              <div class="next-button-wrapper">
                <DButton @class={{theme-setting "button_style"}} @action={{(action "saveUserInfo")}} @translatedLabel="Next >>" />
              </div>

            </div>
            {{/if}}
            {{#if this.currentStep3}}
            <div id="step-3" class="step">

              <h3>{{theme-i18n "steps_titles.step_3_title"}}</h3>
              <p>Email notifications are the best way to keep track of activity on the items you follow, and for getting Community Announcements.</p>

                  {{#if this.showEmailNotificationsCheckBox}}
                    <div class="row">
                          <div class="col-title">Email Notifications</div>
                    </div>
                    <div class="row">
                      <div class="col-check-box">
                        <Input @type="checkbox" @checked={{this.emailLevel}} />
                      </div>
                      <div class="col-description">
                        Email me when I am quoted, replied to, my @username is mentioned, or when there is new activity in my watched categories, tags or topics
                      </div>
                    </div>
                  {{/if}}

                  <div class="row">
                    <div class="col-title">Weekly Summary</div>
                  </div>
                  <div class="row">
                    <div class="col-check-box">
                      <Input @type="checkbox" @checked={{this.emailDigests}} />
                    </div>
                    <div class="col-description">
                      When I don’t visit here, send me an email summary of popular topics and replies
                    </div>
                  </div>

              <div class="next-button-wrapper">
                <DButton @class={{theme-setting "button_style"}} @action={{(action "handleStep3NextButton")}} @translatedLabel="Next >>" />
              </div>

            </div>
            {{/if}}
            {{#if this.currentStep4}}
              <div id="step-4" class="step">

                <h3>{{theme-i18n "steps_titles.step_4_title"}}</h3>

                <div class="row">
                  <div class="col">
                    <a href {{on "click" this.handleStep4FinishButton}} class="composite-button">
                      <img class="black-2-blue" src={{theme-setting 'theme_uploads.img_ico_svg_house'}} />
                      <div class="composite-content">
                        <span class="button-title">Visit Home Page</span>
                        <span class="button-description">The Community Feed, announcements and more.</span>
                      </div>
                    </a>                                   
                  </div>
                  <div class="col">
                    <a href="/c/get-started" class="composite-button">
                      <img class="black-2-blue" src={{theme-setting 'theme_uploads.img_ico_svg_display'}} />
                      <div class="composite-content">
                        <span class="button-title">Get Started</span>
                        <span class="button-description">Get more information about the community.</span>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <a href="/c/ask-the-community" class="composite-button">
                      <img class="black-2-blue" src={{theme-setting 'theme_uploads.img_ico_svg_users'}} />
                      <div class="composite-content">
                        <span class="button-title">Ask The Community</span>
                        <span class="button-description">Have a question? Start here.</span>
                      </div>
                    </a>                                
                  </div>
                  <div class="col">                    
                    <a href {{on "click" this.navigateToProfile}} class="composite-button">
                      <img class="black-2-blue" src={{theme-setting 'theme_uploads.img_ico_svg_address_card'}} />
                      <div class="composite-content">
                        <span class="button-title">View Your Profile</span>
                        <span class="button-description">Further setup your profile details.</span>
                      </div>
                    </a> 
                  </div>
                </div>

                <div class="complete-button-wrapper">
                  <DButton @class={{theme-setting "button_style"}} @action={{(action "handleStep4FinishButton")}} @translatedLabel="Complete" />
                </div>
                
              </div>
            {{/if}}            
          </div>      
        </div>  
        {{#if (and this.showHideThisBox this.currentStep4)}} 
          <div class="modal-footer">
              <div class="hide-this-wrapper">
                <Input @type="checkbox" @checked={{this.hideModalNextTime}} {{on "change" this.toggleHideNextTime}} /> Don't show this next time.
              </div>
              {{#if this.debugFooter}}  
              <div class="break"></div> <!-- break -->      
                <a href {{on "click" this.testAction}}>Some Link</a>
                <div class="break"></div> <!-- break -->
                <a href {{on "click" this.testAction}}>TestAction</a>               
                  <div class="break"></div> <!-- break -->
                  <div class="debug">
                    hideModalNextTime: 
                      {{#if this.hideModalNextTime}}
                      True
                      {{else}}
                      False
                      {{/if}}
                      <div class="break"></div> <!-- break -->
                      {{this.newBioRawInput}}
                      <div class="break"></div> <!-- break -->
                  </div>
              {{/if}}
          </div>
        {{/if}}
      </div> 
    </div>
  </div>
{{else}}
  {{#if (and this.showPopupBanner this.bannerImageUrl)}}
    <div role="dialog" id="welcome-modal" class="custom-home-modal">
      <div class="modal-background">
        <div class="modal-pop">
            {{#if this.bannerLink}}
              <a href="{{this.bannerLink}}" target="_blank">
                <img src="{{this.bannerImageUrl}}" alt="{{this.bannerAltText}}" class="modal-banner" />
              </a>
            {{else}}
              <img src="{{this.bannerImageUrl}}" alt="{{this.bannerAltText}}" class="modal-banner" />
            {{/if}}
            <!-- div class="complete-button-wrapper">
              <DButton @class={{theme-setting "button_style"}} @action={{(action "handleStep4FinishButton")}} @translatedLabel="Complete" />
            </!-->
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}