<DModalBody @title={{theme-prefix "guest_gate.title"}}> 
    <div class="custom-gate-content">
      <img src="{{theme-setting 'custom_gate_image'}}"/>
      <h2>{{theme-i18n "custom_gate.big_text"}}</h2>
      <p>{{theme-i18n "custom_gate.little_text"}}</p>
    </div>      
  {{login-buttons externalLogin=(action "externalLogin")}}
</DModalBody>

<div class="modal-footer">     
      <DButton @class={{theme-setting "login_button_style"}} @icon={{theme-setting "login_icon"}} @label={{theme-prefix "guest_gate.sso_log_in"}} @action={{"showLogin"}} />            
      <a href {{on "click" this.ssoLoginGate}}>{{theme-i18n "guest_gate.sso_log_in"}}</a>  
</div>
