<DModalBody @title={{theme-prefix "modal_data.title"}}> 
    <div class="modal-content">
      <img src="{{theme-setting 'custom_image'}}"/>
      <h2>{{theme-i18n "modal_data.big_text"}}</h2>
      <p>{{theme-i18n "modal_data.little_text"}}</p>
      
      <div class="modal-steps">        
        <div id="step-1" class="step">
          <h3>Step 1</h3>
          <div aria-label={{this.currentUser.name}} class="avatar-img-wrapper">
            <UserProfileAvatar @user={{this.currentUser}} />
          </div>
          <div class="control-group avatar-change-button-wrapper">
            <label class="control-label">Your Avatar</label>
            <DButton
              @class="btn-default pad-right"
              @icon="pencil-alt"
              @action={{"showAvatarSelector"}}
              @actionParam={{this.currentUser}}
              @computedLabel="Change your Avatar">
              <span style="padding-left: 0.5em;">Change your Avatar</span>
            </DButton>
          </div>
          
          <div class="control-group pref-name">
            <label class="control-label">Your Full Name</label>
            <div class="controls">            
              <TextField @value={{this.newNameInput}} @classNames="input-xlarge" @maxlength="255" />             
            </div>
            <div class="instructions">
              Your Full Name (optional)
            </div>
          </div>
          
          
          <SaveControls @model={{this.currentUser}} @action={{action "saveUserName"}} @saved={{this.saved}} />

        </div>
        <div id="step-2" class="step">Step 2</div>
        <div id="step-3" class="step">Step 3</div>
        <div id="step-4" class="step"><h3>Step 4</h3>
          <Input @type="checkbox" @checked={{this.hideModalNextTime}} @change={{action "toggleHideNextTime"}}/> Hide This Next Time
        </div>
      </div>      

    </div>  
</DModalBody>

<div class="modal-footer">     
      <DButton @class={{theme-setting "button_style"}} @icon={{theme-setting "button_icon"}} @label='Button Label' @action={{"showLogin"}} />            
      <a href {{on "click" this.ssoLoginGate}}>Some Link</a> | 
      <a href {{on "click" this.testAction}}>TestAction</a> 
      {{#if (this.debug)}}
      <hr>
      hideModalNextTime: {{#if (this.hideModalNextTime)}}True{{else}}False{{/if}}<br>
      {{/if}}
</div>
