<DModalBody @title={{theme-prefix "modal_data.title"}}> 
    <div class="modal-content">
      <img src="{{theme-setting 'custom_image'}}"/>
      <h2>{{theme-i18n "modal_data.big_text"}}</h2>
      <p>{{theme-i18n "modal_data.little_text"}}</p>
      
      <div class="modal-steps">        
        <div id="step-1" class="step active">
          <div>{{user-info}}</div>
          <div>Change your Avatar: {{avatar-uploader}}</div>
        </div>
        <div id="step-2" class="step">Step 2</div>
        <div id="step-3" class="step">Step 3</div>
        <div id="step-4" class="step">Step 4</div>
      </div>      

    </div>  
</DModalBody>

<div class="modal-footer">     
      <DButton @class={{theme-setting "button_style"}} @icon={{theme-setting "button_icon"}} @label='Button Label' @action={{"showLogin"}} />            
      <a href {{on "click" this.ssoLoginGate}}>Some Link</a>  
</div>
