<DModalBody @title={{theme-prefix "modal_data.title"}}> 
    <div class="modal-content">
      <img src="{{theme-setting 'custom_image'}}"/>
      <h2>{{theme-i18n "modal_data.big_text"}}</h2>
      <p>{{theme-i18n "modal_data.little_text"}}</p>
      
      <div>
        <Steps />
        {{steps "param1"}}
      </div>      

    </div>  
</DModalBody>

<div class="modal-footer">     
      <DButton @class={{theme-setting "button_style"}} @icon={{theme-setting "button_icon"}} @label='Button Label' @action={{"showLogin"}} />            
      <a href {{on "click" this.ssoLoginGate}}>Some Link</a>  
</div>
