{{#if this.showModalPop}}
  <div role="dialog" id="welcome-modal" class="custom-home-modal">
    <div class="modal-background">
      <div class="modal-pop">
        <div class="modal-title">
          <h1>{{theme-i18n "modal_data.title"}}</h1>
          <div class="progress-container">
              <ul class="progress-steps">
                  <li class="active">{{theme-i18n "progress_bar.label_1"}}</li>
                  <li>{{theme-i18n "progress_bar.label_2"}}</li>
                  <li>{{theme-i18n "progress_bar.label_3"}}</li>
                  <li>{{theme-i18n "progress_bar.label_4"}}</li>
          </ul>
        </div>

        </div>
        <div class="modal-content">          
          
          <div class="modal-steps">
            {{#if this.currentStep1}}
              <div id="step-1" class="step">
                  <h3>{{theme-i18n "steps_titles.step_1_title"}}</h3>
                  <p>Thanks for joining AlgoSec Community. We are so happy to have you here!</p>
                  <p>This is the place where you can find solutions, share ideas, and discuss best practices.</p>
                  <p>First, make sure to checkout the <a href="/t/algosec-community-guidelines" target="_blank">AlgoSec Community Guidelines</a> as it contains important information for getting started and help you set in this Community</p>
                  <p>Have a question for AlgoSec? Use the search bar first, as a similar question and the answer may already be here.</p>
                  <p>To ask a new question, simply click the 
                    <DButton @class="btn-default" @translatedLabel="+ New Topic" />
                    button in the Community Home Page.</p>

                  <p>Enjoy,<br/>
                  AlgoSec Community <img class="as-ico-img" src={{theme-setting 'theme_uploads.img_ico_algosec_community'}} /></p>

                  <DButton @class={{theme-setting "button_style"}} @action={{action "handleStep1NextButton"}} @translatedLabel="Next >>" />
              </div>
            {{/if}}
            {{#if this.currentStep2}}
            <div id="step-2" class="step">
              <h3>{{theme-i18n "steps_titles.step_2_title"}}</h3>
              <p> Step 2 text</p>
              <div class="control-group avatar-change-button-wrapper">

                  <div class="control-group pref-name">
                    <label class="control-label">Your Full Name <span class="instructions">(optional)</span></label>
                    <div class="controls">            
                      <TextField @value={{this.newNameInput}} @classNames="input-xlarge" @maxlength="255" />             
                    </div>                    
                  </div>

                  <div class="control-group pref-avatar">
                    <label class="control-label">Your Avatar</label>
                    <div aria-label={{this.currentUser.name}} class="avatar-img-wrapper">
                      <UserProfileAvatar @user={{this.currentUser}} />
                    </div>
                    <DButton
                      @class="btn-default pad-right"
                      @icon="pencil-alt"
                      @action={{"showAvatarSelector"}}
                      @actionParam={{this.currentUser}}
                      @translatedLabel="Change your Avatar" />
                  </div>
                  
                  <div class="control-group pref-bio">
                    <label class="control-label">Your personal bio <span class="instructions">(Let us know something about you)</span></label>
                    <div class="controls bio-composer input-xxlarge">
                      <DEditor id='user-profile' @value={{this.newBioRawInput}} @loading={{this.composer.loading}} @change={{action "biosUpdate"}} />
                    </div>
                  </div>

              </div>

              <DButton @class={{theme-setting "button_style"}} @action={{action "saveUserInfo"}} @translatedLabel="Next >>" />

            </div>
            {{/if}}
            {{#if this.currentStep3}}
            <div id="step-3" class="step">

              <h3>{{theme-i18n "steps_titles.step_3_title"}}</h3>
              <p>Email notifications are the best way to keep track of activity on the items you follow, and for getting Community Announcements.</p>

              <div class="row">
                    <div class="col-title">Email Notifications</div>
                  </div>
                  <div class="row">
                    <div class="col-check-box">
                      <Input @type="checkbox" @checked={{this.emailLevel}} />
                    </div>
                    <div class="col-description">
                      Email me when I am quoted, replied to, my @username is mentioned, or when there is new activity in my watched categories, tags or topics
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-title">Activity Summary</div>
                  </div>
                  <div class="row">
                    <div class="col-check-box">
                      <Input @type="checkbox" @checked={{this.emailDigests}} />
                    </div>
                    <div class="col-description">
                      When I don’t visit here, send me an email summary of popular topics and replies
                    </div>
                  </div>

              <DButton @class={{theme-setting "button_style"}} @action={{action "handleStep3NextButton"}} @translatedLabel="Next >>" />

            </div>
            {{/if}}
            {{#if this.currentStep4}}
              <div id="step-4" class="step">

                <h3>{{theme-i18n "steps_titles.step_4_title"}}</h3>
                <p> Step 4 text</p>

                <div class="row">
                  <div class="col">
                    <a>
                      {{d-icon "users"}}
                      {{d-icon "info-circle"}}
                    </a>
                  </div>
                  <div class="col"></div>
                </div>

                <DButton @class={{theme-setting "button_style"}} @action={{action "handleStep4FinishButton"}} @translatedLabel="Close" />
                
              </div>
            {{/if}}            
          </div>      
        </div>  

        <div class="modal-footer">
            <div class="hide-this-wrapper">
              <Input @type="checkbox" @checked={{this.hideModalNextTime}} @change={{action "toggleHideNextTime"}}/> Hide This Wizard Next Time
            </div>
            {{#if this.debugFooter}}  
             <div class="break"></div> <!-- break -->      
              <a href {{on "click" this.testAction}}>Some Link</a>
              <div class="break"></div> <!-- break -->
              <a href {{on "click" this.testAction}}>TestAction</a>               
                <div class="break"></div> <!-- break -->
                <div class="debug">
                  hideModalNextTime: 
                    {{#if this.hideModalNextTime}}
                    True
                    {{else}}
                    False
                    {{/if}}
                    <div class="break"></div> <!-- break -->
                    {{this.newBioRawInput}}
                    <div class="break"></div> <!-- break -->
                </div>
            {{/if}}
        </div>
      </div> 
    </div>
  </div>
{{/if}}